.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 95vh;
}
.formCard {
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0);
  border: 1px solid var(--orange);
  position: relative;
}
.formInput input {
  background-color: black;
  color: var(--whitePale);
}
.redirectToSignup {
  position: absolute;
  bottom: 0;
}
.errorMessage {
  background-color: rgba(255, 71, 71, 0.603);
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
  text-align: center;
}
.btn.outline.guest {
  color: white;
  font-size: 0.8rem;
  margin: 1rem 0 1rem 0;
}
.btn.outline.guest:hover {
  color: black;
}

@media only screen and (max-width: 450px) {
  .loginContainer {
    margin-top: -3rem;
  }
  .formCard {
    width: 70%;
    border: none;
  }
}
