.categoryContainer {
  margin: 0 0 0 1rem;
}
.category {
  width: auto;
  display: inline-block;
  padding: 1rem;
}
.btn.unstyled.categories {
  color: var(--whitePale);
  border: 1px solid rgba(255, 255, 255, 0.151);
  background-color: rgba(255, 255, 255, 0.041);
}

@media only screen and (max-width: 450px) {
  .categoryContainer {
    padding-bottom: 6rem;
  }
  .categories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .btn.outline.categories {
    font-size: 0.7rem;
  }
}
