.likedVideoContainer{
    padding: 0 0 0 1rem;
}
.likedVideoList{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media only screen and (max-width: 450px){
    .likedVideoList{
        display: flex;
        flex-direction: column;
    }
    .likedVideoList{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}