.headerContainer{
    width: 100%;
    position: fixed;
    z-index: var(--index2);
}
.navbar.ecommerce{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 7vh;
    background-color: black;
    box-shadow: 1px 5px 10px rgba(255, 216, 45, 0.185);
}
.navSearch.ecommerce{
    width: 400px;
    border: 1px solid rgba(255, 209, 2, 0.452);
    color: rgba(255, 209, 2, 0.452);
}
.navSearch.ecommerce input{
    background-color: black;
    
}
.avatar{
    border: 2px solid rgba(255, 209, 2, 0.452);
}
.navAction.ecommerce{
    width: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}
.btn.outline.nav{
    color: var(--whitePale);
}