.sidebarContainer{
    display: flex;
    flex-direction: column;
    height: 100%;
}
.sidebarNavContainer{
    display: flex;
    flex-direction: column;
}
.sidebarNavItem{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: baseline;
    color: black;
}
.sidebarNavItem:hover{
    border-right: 5px solid var(--blue);
    color: var(--blue);
}
.sidebarNavItem p{
    margin-left: 1rem;
    text-decoration: none;
}

@media only screen and (max-width: 450px){
    .sidebarContainer{
        height: auto;
    }
    .sidebarNavContainer{
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        padding: 1rem 0 0 0;
        margin: 0 -1rem;
    }
    .sidebarContainer h1{
        position: fixed;
        top: -0.2rem;
        color: var(--orange);
        font-size: 1.5rem;
    }
    .sidebarNavItem{
        display: flex;
        flex-direction: column;
        font-size: 0.8rem;
        margin-top: 0.5rem 0;
        
    }
    .sidebarNavItem:hover{
        border-right: none;
        color: none;
    }
    .sidebarNavItem:focus{
        border-bottom: none;
        color: none;
    }
}