.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.822);
  position: fixed;
  z-index: var(--index4);
  width: 100vw;
  height: 100vh;
}
.modalBox {
  width: auto;
  color: black;
  background-color: rgb(138, 138, 138);
}
.modalBox ul {
  margin: 0.5rem 0;
}
.input {
  text-align: left;
  border: none;
  padding: 0.5rem;
  border-radius: 0.2rem;
}
.playlistBtns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5rem 0;
}
.modalPlayList {
  margin: 0 0 0.5rem 0;
}
.modalPlayList:hover {
  cursor: pointer;
  background-color: rgb(173, 173, 173);
  padding: 0 0 0 0.2rem;
}
