.watchLaterContainer{
    padding: 0 0 0 1rem;
}
.watchLaterVideoList{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media only screen and (max-width: 450px){
    .watchLaterContainer{
        padding-bottom: 6rem;
    }
    .watchLaterContainer h1{
        text-align: center;
    }
    .watchLaterVideoList{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}