.app{
    display: grid;
    grid-template-columns: 1fr 5fr;
}
.leftAppSection{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    height: 100vh;
    position: fixed;
    padding: 0 1rem;
    background-color: cadetblue;
}
.rightAppSection{
    display: flex;
    flex-direction: column;
    margin-left: 15rem;
}